@model ShippingRecorder.Mvc.Models.VoyageEventViewModel

@{
    var title = Model.Id > 0 ? "Edit Voyage Event" : "Add Voyage Event";
    ViewData["Title"] = title;
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md">
                <span style="font-size: 1.2rem"><strong>@title</strong></span>
            </div>
        </div>
        <hr />

        @await Html.PartialAsync("VoyageEvent", Model);
    }
</div>
