@using ShippingRecorder.Mvc.Entities
@model ShippingRecorder.Mvc.Models.VoyageEventsViewModel

@{
    ViewData["Title"] = "Voyage Builder";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Voyage Builder
    </span>
    <br />
    <small class="text-muted">
        <em>
            Manage the properties and events associated with a voyage
        </em>
    </small>
</p>
<hr />

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("_VoyageDetails", Model)
    }
</div>
